* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Contenedor padre  */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 55vh auto 18vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
}
 
/* Navegador  */

.nav {
    grid-area: nav;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondoNav.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    position: relative;
    top: 5px;
    justify-content: space-evenly;
    height: 17vh;
    align-items: flex-end;
    flex-direction: row;
    align-content: stretch;
}

.liNav {
    list-style-type: none;
    overflow: hidden;
    box-shadow: 2px 5px #d5b176;
    border-radius: 95px;
    background-color: #ffffff;
    padding: 16px;
    width: 140.25px;
    height: 20px;
    text-align: center;
}

.liLogo {
    list-style-type: none;
    overflow: hidden;
    border-radius: 95px;
    background-color: #ffffff;
}

.menu a {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-decoration: none;
}

.liNav:hover {
    background-color: #eeeeee;
    box-shadow: 2px 5px #d39735;
}

.menu a:hover {
    color: black;
    font-weight: 700;
}

.liNav.active {
    border: 2px dotted rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px #d39735;
}

.menu a.active {
    color: #b91d1d;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: medium;
    font-weight: 600;
}

.liLogo:hover{
    opacity: 90%;
}

/* Header/Banner */

.header {
    grid-area: header;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

.banner{
    padding: 30px;
    /* Animacion */
}

/*-------------------- Mains --------------------*/

.main {
    grid-area: main;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* Main Index */

.mainEstilos {
    grid-area: main;
    display: grid;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.mainEstilos div{
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    background-color: rgba(194, 102, 102, 0.4);
    box-shadow: 15px 15px 5px #d5b176;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.mainEstilos img{
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin: 15px;
    width: 350px;
    height: 350px;
}

.mainEstilos h2{
    margin-bottom: 20px;
}

/* Main Quienes Somos */

.mainQS {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.textoQS{
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*  */

/*  */

/*  */

/* Footer */

.footer {
    grid-area: footer;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(185, 29, 29, 0.4);
    box-sizing: border-box;

}

.redes {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.redes img {
    width: 40px;
    height: 40px;
}

.logoContact {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.logoContact img {
    border-radius: 90px;
    width: 90px;
    height: 90px;
}

.logoContact ul {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

/* VARIOS */

body {
    background-color: #ebd8d8;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.stick {
    position: fixed;
    top: 90%;
    right: 1%;
}

.stick img {
    width: 75px;
    height: 75px;
}

h1, h2{
    font-family: 'Cutive Mono', monospace;
}

/*  */